@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@font-face {
  font-family: "burtons";
  src: url("../public/Burtons.otf");
}

::-webkit-scrollbar {
  width: 8px;
  height: 17px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
  to bottom,
  #00c2e0,
  #4caf50
  );

  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #111827;
}

/*//SİTE EN ALT FOTO KOYMA HTML KODU

<div className="flex flex-col gap-10 py-10 lg:flex-row lg:flex-wrap">
            <div className="basis-1/3 flex-1 ">
              <Image
                className="rounded-lg object-cover"
                width={"100%"}
                height={"100%"}
                layout="responsive"
                src={web1}
              />
            </div>
            <div className="basis-1/3 flex-1">
              <Image
                className="rounded-lg object-cover"
                width={"100%"}
                height={"100%"}
                layout="responsive"
                src={web2}
              />
            </div>
            
          </div>
*/